---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import c1a from "../fotos/tienda/c1a.png";
import c1b from "../fotos/tienda/c1b.png";
import c2a from "../fotos/tienda/c2a.png";
import c2b from "../fotos/tienda/c2b.png";
import c3a from "../fotos/tienda/c3a.png";
import c3b from "../fotos/tienda/c3b.png";
import c4a from "../fotos/tienda/c4a.png";
import c4b from "../fotos/tienda/c4b.png";
---

<Layout title="Tienda">
	<Title title="Tienda" subtitle="Merchandising de Sofos" />

	<div class="contenedorelementos">
		<button id="elementoc1" class="elemento">
			<div class="card">
				<img src={c1a.src} alt="Camiseta 1a" />
				<img src={c1b.src} alt="Camiseta 1b" class="img-top" />
			</div>
			<div class="textoelemento">
				<p>EHHPDSR Tee #1</p>
				<p class="mt-2 text-sm">24,99€</p>
			</div>
		</button>

		<button id="elementoc2" class="elemento">
			<div class="card">
				<img src={c2a.src} alt="Camiseta 2a" />
				<img src={c2b.src} alt="Camiseta 2b" class="img-top" />
			</div>
			<div class="textoelemento">
				<p>EHHPDSR Tee #2</p>
				<p class="mt-2 text-sm">24,99€</p>
			</div>
		</button>

		<button id="elementoc3" class="elemento">
			<div class="card">
				<img src={c3a.src} alt="Camiseta 3a" />
				<img src={c3b.src} alt="Camiseta 3b" class="img-top" />
			</div>
			<div class="textoelemento">
				<p>EHHPDSR Tee #3</p>
				<p class="mt-2 text-sm">24,99€</p>
			</div>
		</button>

		<button id="elementoc4" class="elemento">
			<div class="card">
				<img src={c4a.src} alt="Camiseta 4a" />
				<img src={c4b.src} alt="Camiseta 4b" class="img-top" />
			</div>
			<div class="textoelemento">
				<p>ISTMO Tee #1</p>
				<p class="mt-2 text-sm">24,99€</p>
			</div>
		</button>
	</div>

	<!-- DESPLIEGUE C1 -->
	<div class="test" id="testc1">
		<div class="contenedorelementos2">
			<div class="elemento2">
				<div class="elemento3">
					<div class="carousel">
						<div class="carousel-inner">
							<div class="carousel-item">
								<img
									src={c1a.src}
									class="imgcarousel"
									alt="Image 1"
								/>
							</div>
							<div class="carousel-item">
								<img
									src={c1b.src}
									class="imgcarousel"
									alt="Image 2"
								/>
							</div>
						</div>
					</div>

					<div class="textoelemento2">
						<p>EHHPDSR Tee #1</p>
						<p class="mt-2 text-sm lg:text-md">24,99€</p>

						<form id="formularioCarrito">
							<label class="mr-2" for="talla">Talla:</label>
							<select
								id="talla"
								name="talla"
								class="asunto"
								required
							>
								<option value="talla S">S</option>
								<option value="talla M">M</option>
								<option value="talla L">L</option>
								<option value="talla XL">XL</option>
								<option value="talla XXL">XXL</option>
							</select>
							<select
								id="producto"
								name="producto"
								class="hidden"
								required
							>
								<option value="EHHPDSR Tee #1"></option>
							</select>
							<select
								id="precio"
								name="precio"
								class="hidden"
								required
							>
								<option value="24,99"></option>
							</select>
							<br />
							<button
								type="submit"
								class="bg-black rounded-md px-2 py-1 text-sm mt-4 lg:text-md transition ease-in-out hover:text-gray-100 duration-300"
								>Añadir al carrito</button
							>
						</form>
						<p class="text-xs mt-4">
							Procesamiento en 2 días hábiles.
						</p>

						<div id="carrito" class="text-sm mt-4 carrito">
							<!-- Aquí se mostrarán los datos del carrito -->
						</div>
					</div>
				</div>
				<div class="textoelemento2">
					<hr class="mt-4 mb-4 lg:mb-16" />

					<p class="text-sm mb-6">
						Camiseta de manga corta negra "El Hombre Hace Planes
						Dios Se Ríe" Tee #1
					</p>
					<p class="text-sm mb-2">Fotografía por Javier Díaz.</p>
					<p class="text-sm mb-6">
						Diseños por Gon Hergueta Studio, NYC.
					</p>
					<p class="text-sm mb-2">100% algodón orgánico.</p>
					<p class="text-sm mb-4 lg:mb-12">180 gms.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- DESPLIEGUE C2 -->
	<div class="test" id="testc2">
		<div class="contenedorelementos2">
			<div class="elemento2">
				<div class="elemento3">
					<div class="carousel">
						<div class="carousel-inner">
							<div class="carousel-item">
								<img
									src={c2a.src}
									class="imgcarousel"
									alt="Image 1"
								/>
							</div>
							<div class="carousel-item">
								<img
									src={c2b.src}
									class="imgcarousel"
									alt="Image 2"
								/>
							</div>
						</div>
					</div>

					<div class="textoelemento2">
						<p>EHHPDSR Tee #2</p>
						<p class="mt-2 text-sm lg:text-md">24,99€</p>

						<form id="formularioCarritoc2">
							<label class="mr-2" for="tallac2">Talla:</label>
							<select
								id="tallac2"
								name="tallac2"
								class="asunto"
								required
							>
								<option value="talla S">S</option>
								<option value="talla M">M</option>
								<option value="talla L">L</option>
								<option value="talla XL">XL</option>
								<option value="talla XXL">XXL</option>
							</select>
							<select
								id="productoc2"
								name="productoc2"
								class="hidden"
								required
							>
								<option value="EHHPDSR Tee #2"></option>
							</select>
							<select
								id="precioc2"
								name="precioc2"
								class="hidden"
								required
							>
								<option value="24,99"></option>
							</select>
							<br />
							<button
								type="submit"
								class="bg-black rounded-md px-2 py-1 text-sm mt-4 lg:text-md transition ease-in-out hover:text-gray-100 duration-300"
								>Añadir al carrito</button
							>
						</form>
						<p class="text-xs mt-4">
							Procesamiento en 2 días hábiles.
						</p>

						<div id="carritoc2" class="text-sm mt-4 carrito">
							<!-- Aquí se mostrarán los datos del carrito -->
						</div>
					</div>
				</div>
				<div class="textoelemento2">
					<hr class="mt-4 mb-4 lg:mb-16" />

					<p class="text-sm mb-6">
						Camiseta de manga corta negra "El Hombre Hace Planes
						Dios Se Ríe" Tee #1
					</p>
					<p class="text-sm mb-2">Fotografía por Javier Díaz.</p>
					<p class="text-sm mb-6">
						Diseños por Gon Hergueta Studio, NYC.
					</p>
					<p class="text-sm mb-2">100% algodón orgánico.</p>
					<p class="text-sm mb-4 lg:mb-12">180 gms.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- DESPLIEGUE C3 -->

	<div class="test" id="testc3">
		<div class="contenedorelementos2">
			<div class="elemento2">
				<div class="elemento3">
					<div class="carousel">
						<div class="carousel-inner">
							<div class="carousel-item">
								<img
									src={c3a.src}
									class="imgcarousel"
									alt="Image 1"
								/>
							</div>
							<div class="carousel-item">
								<img
									src={c3b.src}
									class="imgcarousel"
									alt="Image 2"
								/>
							</div>
						</div>
					</div>

					<div class="textoelemento2">
						<p>EHHPDSR Tee #3</p>
						<p class="mt-2 text-sm lg:text-md">24,99€</p>

						<form id="formularioCarritoc3">
							<label class="mr-2" for="tallac3">Talla:</label>
							<select
								id="tallac3"
								name="tallac3"
								class="asunto"
								required
							>
								<option value="talla S">S</option>
								<option value="talla M">M</option>
								<option value="talla L">L</option>
								<option value="talla XL">XL</option>
								<option value="talla XXL">XXL</option>
							</select>
							<select
								id="productoc3"
								name="productoc3"
								class="hidden"
								required
							>
								<option value="EHHPDSR Tee #3"></option>
							</select>
							<select
								id="precioc3"
								name="precioc3"
								class="hidden"
								required
							>
								<option value="24,99"></option>
							</select>
							<br />
							<button
								type="submit"
								class="bg-black rounded-md px-2 py-1 text-sm mt-4 lg:text-md transition ease-in-out hover:text-gray-100 duration-300"
								>Añadir al carrito</button
							>
						</form>
						<p class="text-xs mt-4">
							Procesamiento en 2 días hábiles.
						</p>

						<div id="carritoc3" class="text-sm mt-4 carrito">
							<!-- Aquí se mostrarán los datos del carrito -->
						</div>
					</div>
				</div>
				<div class="textoelemento2">
					<hr class="mt-4 mb-4 lg:mb-16" />

					<p class="text-sm mb-6">
						Camiseta de manga corta negra "El Hombre Hace Planes
						Dios Se Ríe" Tee #1
					</p>
					<p class="text-sm mb-2">Fotografía por Javier Díaz.</p>
					<p class="text-sm mb-6">
						Diseños por Gon Hergueta Studio, NYC.
					</p>
					<p class="text-sm mb-2">100% algodón orgánico.</p>
					<p class="text-sm mb-4 lg:mb-12">180 gms.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- DESPLIEGUE C4 -->

	<div class="test" id="testc4">
		<div class="contenedorelementos2">
			<div class="elemento2">
				<div class="elemento3">
					<div class="carousel">
						<div class="carousel-inner">
							<div class="carousel-item">
								<img
									src={c4a.src}
									class="imgcarousel"
									alt="Image 1"
								/>
							</div>
							<div class="carousel-item">
								<img
									src={c4b.src}
									class="imgcarousel"
									alt="Image 2"
								/>
							</div>
						</div>
					</div>

					<div class="textoelemento2">
						<p>ISTMO Tee #1</p>
						<p class="mt-2 text-sm lg:text-md">24,99€</p>

						<form id="formularioCarritoc4">
							<label class="mr-2" for="tallac4">Talla:</label>
							<select
								id="tallac4"
								name="tallac4"
								class="asunto"
								required
							>
								<option value="talla S">S</option>
								<option value="talla M">M</option>
								<option value="talla L">L</option>
								<option value="talla XL">XL</option>
								<option value="talla XXL">XXL</option>
							</select>
							<select
								id="productoc4"
								name="productoc4"
								class="hidden"
								required
							>
								<option value="ISTMO Tee #1"></option>
							</select>
							<select
								id="precioc4"
								name="precioc4"
								class="hidden"
								required
							>
								<option value="24,99"></option>
							</select>
							<br />
							<button
								type="submit"
								class="bg-black rounded-md px-2 py-1 text-sm mt-4 lg:text-md transition ease-in-out hover:text-gray-100 duration-300"
								>Añadir al carrito</button
							>
						</form>
						<p class="text-xs mt-4">
							Procesamiento en 2 días hábiles.
						</p>

						<div id="carritoc4" class="text-sm mt-4 carrito">
							<!-- Aquí se mostrarán los datos del carrito -->
						</div>
					</div>
				</div>
				<div class="textoelemento2">
					<hr class="mt-4 mb-4 lg:mb-16" />

					<p class="text-sm mb-6">
						Camiseta de manga corta negra "El Hombre Hace Planes
						Dios Se Ríe" Tee #1
					</p>
					<p class="text-sm mb-2">Fotografía por Javier Díaz.</p>
					<p class="text-sm mb-6">
						Diseños por Gon Hergueta Studio, NYC.
					</p>
					<p class="text-sm mb-2">100% algodón orgánico.</p>
					<p class="text-sm mb-4 lg:mb-12">180 gms.</p>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	.carrito {
		color: rgba(223, 223, 223, 0.707);
	}

	.asunto {
		margin-top: 6%;
		color: black;
		font-size: small;
	}

	.carousel {
		display: flex;
		overflow: hidden;
		width: 100%;
	}

	.carousel-inner {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	.carousel-item {
		min-width: 100%;
		display: flex;
		justify-content: center;
	}

	/* Para navegadores WebKit (Chrome, Safari) */
	.contenedorelementos2::-webkit-scrollbar {
		display: none;
	}

	/* Para Firefox */
	.contenedorelementos2::-moz-scrollbar {
		width: 0;
	}

	.contenedorelementos2 {
		overflow-y: auto;
		max-height: 62vh;
		max-width: 95vw;
		z-index: 2;
	}

	.elemento2 {
		color: rgb(223, 223, 223);
		background-color: rgba(194, 194, 194, 0.253);
		padding: 8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: color 0.5s;
	}

	.testcontenedor {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.test {
		position: absolute;
		width: 90%;
		top: 120%;
		transition: all 0.5s linear;
	}
	.moved {
		top: 22%;
	}

	.contenedorelementos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		margin-top: 5%;
		transition: opacity 0.6s;
		z-index: 1;
	}

	.disappeared {
		opacity: 0;
	}

	.elemento {
		color: rgb(206, 206, 206);
		background-color: rgba(194, 194, 194, 0.253);
		padding: 8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition:
			scale 0.5s,
			color 0.5s,
			background-color 0.3s;
	}

	.elemento:hover {
		color: white;
		background-color: rgba(194, 194, 194, 0.315);
		scale: 1.03;
	}

	.textoelemento {
		font-size: medium;
		margin-bottom: 10%;
	}

	.textoelemento2 {
		width: 100%;
		padding-left: 6%;
		padding-right: 6%;
		font-size: medium;
	}

	.card {
		position: relative;
		display: inline-block;
		margin: 10%;
	}
	.card .img-top {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	.card:hover .img-top {
		opacity: 1;
	}

	@media (min-width: 768px) {
		.contenedorelementos2 {
			max-height: 56vh;
		}

		.moved {
			top: 30%;
		}
	}

	@media (min-width: 1024px) {
		.contenedorelementos {
			grid-template-columns: repeat(4, 1fr);
			margin-top: 3%;
		}

		.textoelemento {
			font-size: large;
		}

		.textoelemento2 {
			font-size: large;
		}

		.contenedorelementos2 {
			max-height: 49vh;
		}

		.moved {
			top: 33%;
		}

		.elemento2 {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.imgcarousel {
			width: 70%;
		}

		.elemento3 {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.asunto {
			font-size: medium;
		}
	}
</style>

<script type="module">
	var carrito = JSON.parse(localStorage.getItem("carrito")) || [];
	document
		.getElementById("formularioCarrito")
		.addEventListener("submit", function (event) {
			event.preventDefault(); // Evitar el envío del formulario por defecto

			var tallaSeleccionadaElement = document.getElementById("talla");
			var productoSeleccionadoElement =
				document.getElementById("producto");
			var precioElement = document.getElementById("precio");

			if (tallaSeleccionadaElement instanceof HTMLSelectElement) {
				var tallaSeleccionada = tallaSeleccionadaElement.value;
				var productoSeleccionado = productoSeleccionadoElement.value;
				var precio = precioElement.value;
			} else {
				console.error(
					"El elemento con ID 'talla' no es un HTMLSelectElement",
				);
			}

			// Agregar la talla al carrito
			carrito.push(productoSeleccionado);
			carrito.push(tallaSeleccionada);
			carrito.push(precio);

			// Guardar el carrito actualizado en localStorage
			localStorage.setItem("carrito", JSON.stringify(carrito));
		});

	document
		.getElementById("formularioCarritoc2")
		.addEventListener("submit", function (event) {
			event.preventDefault(); // Evitar el envío del formulario por defecto

			var tallaSeleccionadaElement = document.getElementById("tallac2");
			var productoSeleccionadoElement =
				document.getElementById("productoc2");
				var precioElement = document.getElementById("precioc2");

			if (tallaSeleccionadaElement instanceof HTMLSelectElement) {
				var tallaSeleccionada = tallaSeleccionadaElement.value;
				var productoSeleccionado = productoSeleccionadoElement.value;
				var precio = precioElement.value;
			} else {
				console.error(
					"El elemento con ID 'talla' no es un HTMLSelectElement",
				);
			}

			// Agregar la talla al carrito
			carrito.push(precio + '€ |');
			carrito.push(productoSeleccionado);
			carrito.push(tallaSeleccionada);
			
			// Guardar el carrito actualizado en localStorage
			localStorage.setItem("carrito", JSON.stringify(carrito));
		});

	document
		.getElementById("formularioCarritoc3")
		.addEventListener("submit", function (event) {
			event.preventDefault(); // Evitar el envío del formulario por defecto

			var tallaSeleccionadaElement = document.getElementById("tallac3");
			var productoSeleccionadoElement =
				document.getElementById("productoc3");
				var precioElement = document.getElementById("precioc3");

			if (tallaSeleccionadaElement instanceof HTMLSelectElement) {
				var tallaSeleccionada = tallaSeleccionadaElement.value;
				var productoSeleccionado = productoSeleccionadoElement.value;
				var precio = precioElement.value;
			} else {
				console.error(
					"El elemento con ID 'talla' no es un HTMLSelectElement",
				);
			}

			// Agregar la talla al carrito
			carrito.push(precio + '€ |');
			carrito.push(productoSeleccionado);
			carrito.push(tallaSeleccionada);

			// Guardar el carrito actualizado en localStorage
			localStorage.setItem("carrito", JSON.stringify(carrito));
		});

	document
		.getElementById("formularioCarritoc4")
		.addEventListener("submit", function (event) {
			event.preventDefault(); // Evitar el envío del formulario por defecto

			var tallaSeleccionadaElement = document.getElementById("tallac4");
			var productoSeleccionadoElement =
				document.getElementById("productoc4");
				var precioElement = document.getElementById("precioc4");

			if (tallaSeleccionadaElement instanceof HTMLSelectElement) {
				var tallaSeleccionada = tallaSeleccionadaElement.value;
				var productoSeleccionado = productoSeleccionadoElement.value;
				var precio = precioElement.value;
			} else {
				console.error(
					"El elemento con ID 'talla' no es un HTMLSelectElement",
				);
			}

			// Agregar la talla al carrito
			carrito.push(precio + '€ |');
			carrito.push(productoSeleccionado);
			carrito.push(tallaSeleccionada);

			// Guardar el carrito actualizado en localStorage
			localStorage.setItem("carrito", JSON.stringify(carrito));
		});

	var contadorCarrito = document.getElementById("contadorCarrito");
	var storedCounter = localStorage.getItem("contadorCarrito");
	contadorCarrito.textContent = storedCounter || 0;
</script>
